body{margin: 0px;
    background-color: violet;
    font-family: 'Courier New', Courier, monospace
}

#titular{padding-left: 500px ;}
#titular{padding: 500px 0 0 10px;}
#primer_id{margin:40px}
p{margin: 20px 30px}

.contenedor-centrado{
  display:flex;
  justify-content: center;
}

.contenedor-izq{
  display:flex;
  justify-content: left;
  align-items: center;
  display: block;

}

.card-body img{
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 530px;
  height: 350px;

}

.img-ajustada {
  width: 100%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
    font-size: xx-large;
  }
  
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: cornsilk;
  }
  
h3 {
    font-family: sans serif monospace;
    font-weight: bold;
  }


#contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

#contenedor-flex div {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    height: 100px;
    margin: 10px;
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 200px;
  gap: 10px;
  background-color: lightcoral;
  padding: 10px;
}

.grid-container div {
  background-color: blueviolet;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(42, 12, 80);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
  flex-direction: row;

}

/* Left column (menu) */
.left {
  flex: 50%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 50%;
  padding: 15px;
}

/* Style the search box */
#mySearch {
  width: 50%;
  font-size: 18px;
  padding: 11px;
  border: 5px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
 .btn-font{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }


#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: rgb(0, 0, 0);
}

.navbar-brand img {
  max-width: 250px; /* Ajusta el tamaño máximo del logo */
  height: auto; /* Ajusta la altura automáticamente */
  display: block; /* Para centrar horizontalmente el logo */
}

.navbar-custom {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: blueviolet;
  font-size: x-large;

}

#terrenos .accordion-button {
  font-size: 30px; /* Cambia el tamaño de fuente según tus preferencias */
}

.accordion-body {
  font-size: 20px; /* Cambia el tamaño de fuente según tus preferencias */
  font-family: Arial
}

.card.favorito {
  background-color: gold;
  color: white;
}


.favorites-icon {
  position: relative;
}



.favorites-count {
  position: center;
  top: 10px;
  right: 10px;
  background-color: gold;
  color: white;
  border-radius: 100%;
  padding: 30px;
  font-size: 20px;
}

.favorites-preview {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
}

.favorites-preview-list {
  list-style: none;
  padding: 0;
}

.favorites-preview-list li {
  margin-bottom: 5px;
  cursor: pointer;
}




